
/*******************ARTICLE*/
.article{
    margin: 0;
    min-height: 85vh;
    margin-top: 15vh;
    background: url('../Images/fondo/fondo-faq.jpg');
}

.title{
    width: 50%;
    margin: auto;
    text-align: center;
    padding: 75px;
    border-radius: 25px;
}

.title h3{
    font-size: 55px;
    letter-spacing: 15px;
    color: #111;
}
.faq{
    background-color: #eee;
    width: 100%;
    margin: auto;
    height: 90%;
    margin-bottom: 25px;
    padding: 35px 15px;
    border-radius: 85px 85px 0 0;
    opacity: .7;
    /* box-shadow: 2px 2px 8px 3px #555; */

}

.preguntas-container{
    text-align: center;
}

.q_container{
    background-color: #555;
    width: 70%;
    padding: 25px;
    padding-top: 5px;
    margin: 20px auto;
    text-align: center;
    border-left: 5px solid #000;
    color: #fff;
    border-radius: 0 15px 15px 0;
    transform: scale(1);
    transition: transform .05s ease-in;
    position: relative;
}

.q_container:hover{
    transform: scale(1.03);
    transition: transform .05s ease-in;
}

.q_container h4{
    font-size: 20px;
    padding: 5px;
}

.q_container p::first-letter{
    font-size: 20px;
}







/*--------------------RESPONSIVE--------------------*/








@media screen and (max-width:700px){
    /*******************ARTICLE*/
    .article{
        margin: 0;
        margin-top: 15vh;
        min-height: 85vh;
        background: url('../Images/fondo/fondo-faq.jpg');
    }
    
    .title{
        width: 90%;
        margin: auto;
        text-align: center;
        padding: 75px 0;
        border-radius: 25px;
    }
    
    .title h3{
        font-size: 55px;
        letter-spacing: 15px;
        color: #111;
    }
.faq{
    background-color: #eee;
    width: 90%;
    margin: auto;
    height: 90%;
    margin-bottom: 25px;
    padding: 15px 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 8px 3px #555;

}

.preguntas-container{
    display: table;
    text-align: center;
}

.q_container{
    background-color: #555;
    display: inline-table;
    width: 250px;
    min-height: 350px;
    max-height: 350px;
    padding: 25px;
    margin: 20px 15px;
    text-align: center;
    border-left: 5px solid #000;
    color: #fff;
    border-radius: 0 15px 15px 0;
    transform: scale(1);
    transition: transform .05s ease-in;
}

.q_container:hover{
    transform: scale(1.03);
    transition: transform .05s ease-in;
}

.q_container h4{
    font-size: 25px;
    padding: 5px;
}

.q_container p{
    font-size: 18px;
}

.q_container p::first-letter{
    font-size: 22px;
}

}

