body{
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #333;
}

a{
    text-decoration: none;
}
a:visited{
    color: #000;
}
a:link{
    color: #000;
}

li{
    list-style: none;
}
/************************************/


.title-container{
    position: fixed;
    display: grid;
    grid-template-columns: repeat(3,33%);
    width: 100%;
    padding: 15px;
    background-color: #444;
    color: #ffffff;
    border: 3px solid #000;
    border-left: none;
    border-right: none;
    text-align: center;
}

.title-container a{
    display: block;
    color: #fff;
    font-weight: bold;
}

.title-container a:nth-child(1){
    text-decoration: underline;
}

.title-container a span{
    margin-right: 5px;
}



/*-----------TABLA GENERAL*/



.tabla {
    position: relative;
    top: 100px;
    table-layout: fixed;
    width: 95%;
    margin: auto;
    border-collapse: collapse;
    border: 3px solid #132623;
    border-bottom: none;
    box-shadow: 0px 25px 15px 8px #222;
}

.tabla thead tr{
    height: 80px;
    min-height: 80px;
}

.tabla thead th{
    border: 1px solid #F29C50;
}

.tabla thead th:nth-child(1) {
    width: 15%;
}

.tabla thead th:nth-child(2) {
    width: 18%;
}
.tabla thead th:nth-child(3) {
    width: 20%;
}
.tabla thead th:nth-child(4) {
    width: 25%;
}
.tabla thead th:nth-child(5) {
    width: 25%;
}
.tabla thead th:nth-child(6) {
    width: 25%;
}
.tabla thead th:nth-child(7) {
    width: 25%;
}
.tabla thead th:nth-child(8) {
    width: 25%;
}
.tabla thead th:nth-child(9) {
    width: 25%;
}
.tabla thead th:nth-child(10) {
    width: 25%;
}
.tabla thead th:nth-child(11) {
    width: 25%;
}
.tabla thead th:nth-child(12) {
    width: 10%;
}


.tabla th, td {
    padding: 20px;
}


.tabla tbody td {
    text-align: center;
}



.tabla thead{
    background-color: #C7774D;
    color: #dddddd;
}

.tabla tbody  tr:nth-child(odd){
    background-color: #F29C50;
    color: #ffffff;
    transition: background .1s ease-in;
}

.tabla tbody  tr:nth-child(even){
    background-color: #FF9545;
    color: #ffffff;
    transition: background .1s ease-in;
}

.tabla tbody tr:hover{
    background-color:  #FF9545;
    transition: background .1s ease-in;
}

.tabla tbody th{
    color: #ddd;
    
}



caption {    
    padding: 20px;
    font-style: italic;
    caption-side: bottom;
    color: #ccc;
    text-align: center;
    letter-spacing: 1px;
    border-top: none;
    background-color: #C7774D;
}

.back-cont{
    height: 200px;
    display: flex;
    align-items: flex-end;
}

.back span{
    color: #fff;
    margin-left: 25px;
    text-decoration:underline ;
    margin-top: 15px;
}



input{
    width: 55px;
    text-align: center;
    padding: 5px;
    border: none;
    background-color: #eee;
}